<!DOCTYPE html>
<html>
  <head>
    <title>Advanced JavaScript</title>
    <script type="text/javascript" src="lib/sh_main.js"></script>
    <script type="text/javascript" src="lib/sh_javascript.js"></script>
    <script type="text/javascript" src="lib/jquery.js"></script>
    <script type="text/javascript" src="script.js"></script>
    <link rel="stylesheet" href="lib/sh_style.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="wrapper">
      <pre class="example">{{code}}</pre>
    </div>
  </body>
</html>
